body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.section-01 {
    display: flex;
    justify-content: center;
    margin: 40px;
    gap: 10px;
}

.section-01 img {
    border-radius: 10px;
    width: 25%;
}


.text-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 700px;

}

.section-02 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 40px;
    gap: 20px;
}

.section-02 img {
    border-radius: 10px;
    width: 25%;
}

.text-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 700px;

}

.section-03 {
    background-image: url(Aula-Img/img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10%;
}


