body {
    background-color: rgb(201, 198, 198);
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: #f2f3f4;
    height: auto;
    align-items: center;
}

.img-header {
    margin-left: 1%;
    min-width: 20px;
    max-width: 60px;
}

.navegador {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 15px;
}

li {
    list-style: none;
}

li:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

span {
    color: green;
}

.section-01 {
    display: flex;
    justify-content: center;
    margin: 2%;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 26rem;
    width: 20%;
    padding: 4px;
    color: white;
    background-color: black;
    border: solid 2px black;
}

.card:hover {
    border: solid 2px rgb(59, 27, 134)'';
    box-shadow: 0px 0px 10px 5px rgb(59, 27, 134);
}

.section-02 {
    display: flex;
    justify-content: center;
    margin: 2%;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 320px) {

    body {
        margin: 0;
    }

    header {
        width: 100%;
        margin: 0px 0px 10px 0px;
    }

    .section-01 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }

    .card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 250px;
    }

    .section-02 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }
}