body{
    background-color: rgba(0, 0, 0, 0.849);
    margin: 0;
}


header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(29, 197, 43, 0.658);
    height: 90px;
    align-items: center;
}


ul{
    display: flex;
    margin-right: 20px;
    gap: 25px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

a:hover{
    font-size: 17px;
    color: rgb(255, 255, 255);
}




