body {
    margin: 0;
}

/* Meu Cabeçalho Todo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #734124;
    padding: 10px 20px;
    flex-wrap: wrap;
}

/* A Imagem Do Meu Cabeçalho */
header img {
    width: 100%;
    max-width: 150px;
}

/* A Div Do Meu Cabeçalho */
.logo {
    padding-right: 0;
    width: auto;
}

/* Ul Do Meu Nav */
.navegador ul {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 15px;
    flex-wrap: wrap;
}

/* Li Do Meu Nav */
.navegador li {
    list-style: none;
}

/* Ancora Do Meu Nav */
.navegador a {
    text-decoration: none;
    color: white;
}

/* Minhas Seção 1,2,4 */
.section-01,
.section-02,
.section-04 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 80px 20px;
    flex-wrap: wrap;
}

.section-01 {
    background-color: #D9D9D9;
}

.section-02 {
    background-color: #BFA995;
}

.section-04 {
    align-items: center;
    background-color: #D9D9D9;
}

/* Minha Seção 5 */
.section-05 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #BFA995;
    padding: 40px;
}

/* Seção 5 Borda Dos Meu Video e Map */
.section-05 iframe {
    border-radius: 20px;
}

/* Imagens Da Minha Seção 1,2,4 */
.section-01 img,
.section-02 img,
.section-04 img {
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition: 0.5s;
}

.section-01 img:hover,
.section-02 img:hover,
.section-04 img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.2);
}

/* Texto Das Minha Seçãoes 1,2,4 */
.text-01,
.text-02,
.text-04 {
    text-align: center;
    max-width: 700px;
    width: 100%;

}

/* Seção 3 Imagem De Fundo */
.section-03 {
    background-image: url(Aula-Img/img-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 200px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Botão Da Minha Seção 3 ImagemDe Fundo */
.section-03 button {
    color: white;
    background-color: #2B400D;
    box-shadow: 0px 0px 4px 4px #2B400D;
    border: none;
    border-radius: 20px;
    width: 120PX;
    height: 40PX;
    cursor: pointer;
    transition: 0.5s;
}

.section-03 button:hover {
    transform: scale(1.1);
}

/* Seção Card */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    padding: 30px;
    gap: 25px;
    background-color: #D9D9D9;
}

/* Minhas Divs Cards */
.cards {
    background-color: white;
    border: 3px solid #BFA995;
    border-radius: 20px;
    width: 20vw;
    height: fit-content;
    padding: 10px;
    transition: 0.5s;
}

.cards:hover{
    border-color: #734124;
    transform: scale(1.1);
}

/* Imagens Do Meus Cards */
.principal-card {
    border-radius: 15px;
    height: 180px;
    width: 100%;
}

/* Meu Rodapé Todo */
.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #734124;
    padding: 20px;
    flex-wrap: wrap;
}

/* logo Do Meu Rodapé */
.img-rodape img {
    width: 100%;
    max-width: 100px;
}

/* Icones Do MeuRodapé */
.icone {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Ancora Dos Meus Icones Rodapé */
.icone a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}


@media (max-width: 834px) {

    .section-01,
    .section-02,
    .section-04,
    .section-05 {
        padding: 50px 60px;
    }

    .section-01 img:hover,
    .section-02 img:hover,
    .section-04 img:hover {
        transform: none;
    }

    .section-05 {
        justify-content: center;
        gap: 20px;
    }

    .section-05 iframe {
        width: 100%;
        max-width: 320px;
        height: auto;
    }

    .text-01,
    .text-02,
    .text-04 {
        width: 100%;
    }

    .navegador ul {
        flex-direction: column;
        gap: 10px;
    }

    .navegador a {
        font-size: 1.2rem;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .section-03 {
        padding: 60px 20px;
        background-attachment: scroll;
    }

    .section-03 button {
        width: 100%;
        max-width: 200px;
    }

    .card {
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        height: fit-content;
    }

    .cards {
        transition: 0.5s;
        width: 100%;
    }

    .cards:hover {
        transform: none;
    }

    .rodape {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .icone {
        justify-content: center;
        flex-wrap: wrap;
    }
}